[package]
name = "starknet-accounts"
version = "0.1.0"
authors = ["Jonathan LEI <me@xjonathan.dev>"]
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/xJonathanLEI/starknet-rs"
homepage = "https://starknet.rs/"
description = """
Types for handling Starknet account abstraction
"""
keywords = ["ethereum", "starknet", "web3"]

[dependencies]
starknet-core = { version = "0.2.0", path = "../starknet-core" }
starknet-providers = { version = "0.2.0", path = "../starknet-providers" }
starknet-signers = { version = "0.1.0", path = "../starknet-signers" }
async-trait = "0.1.52"
thiserror = "1.0.30"
no-std-compat = { version = "0.4.1", features = [
    "alloc",
    "compat_macros",
    "std",
] }
[features]
default = [ "std" ] # Default to using the std
std = [ "no-std-compat/std" ]

[dev-dependencies]
serde_json = "1.0.74"
tokio = { version = "1.15.0", features = ["full"] }
