[package]
name = "starknet-core"
version = "0.1.0"
authors = ["Jonathan LEI <me@xjonathan.dev>"]
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/xJonathanLEI/starknet-rs"
homepage = "https://starknet.rs/"
description = """
Core structures for the starknet crate
"""
keywords = ["ethereum", "starknet", "web3"]

[dependencies]
base64 = "0.13.0"
ethereum-types = "0.12.1"
hex = "0.4.3"
serde = { version = "1.0.133", features = ["derive"] }
thiserror = "1.0.30"
starkware-crypto-sys = "0.1.3"

[dev-dependencies]
serde_json = "1.0.74"
